.heading{
    font-size: 4rem;
    color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border: 3px solid white;
}


.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(55, 255, 0);
}

.image {
  border-radius: 3rem;
  width: 35vw;
  height: 70vh;
  object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    border: 3px solid rgb(100, 0, 177);
    transition: box-shadow 0.2s ease-in-out;
    padding: 4rem;
}

.para {
    text-align: left;
    font-size: 1.6rem;
    white-space: normal;
    word-spacing: normal;
}

.num_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rebeccapurple;
  gap: 2rem;
}
.num_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.numv{
    font-size: 4rem;
    font-weight: 900;
}
.numd{
    font-size: 1.5rem;
    font-weight: 600;
}

@media only screen and (max-width:1000px) {
    .imageBox
    {
        display: none;
    }

    .box{
        box-sizing: border-box;
        padding: 2rem 1.5rem;
        min-height: 100%;
        min-width: 85%;
    }
    .para{
        font-size: 1.2rem;
    }

    .heading{
        font-size: 3rem;
    }
    
    .main{
        padding: 4rem 0;
    }
}

@media only screen and (max-width:500px){
    .heading{
        font-size: 2.5rem;
    }
    .para{
        font-size: 1rem;
    }
}
    