
.heading{
    position: relative;
    font-size: 4rem;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10rem;
    padding-bottom: 20rem;
    flex-wrap: wrap;
}
